@model IEnumerable<BookingHotelApp.Models.Guests>

@{
    ViewData["Title"] = "Hotel Booking System";

}

@*Desgin for textboxes*@

<form method="post">
    <div class="container">
        <h1><center>HotelBooking </center></h1>
        <hr>
        <br />
        <<button type="button" onclick="checkmessage()">Check</button>
        <br />
        <label for="checkdate"><b>Date</b></label>
        <input type="date" placeholder="Enter Date" name="checkdate" id="checkdate" required class="form-control" width="50">
        @*<a href="#" onclick="editDocument();" data-id="{{ entity.id }}" role="button" data-toggle="modal" class="open-editBox"><button type="button" class="btn blue">Check Room Availability</button></a>*@
        @*<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myModal">Check Room Availability</button>*@

        <br />
        <button type="button" class="btn btn-success float-right" onclick="findroom()">Check Room Availability</button>
        <br />
        <br /> <br />
        <hr style="height:auto" />

        <br />
        <br />
        <br />
        <label for="lastname"><b>Lastname</b></label>

        <input type="text" placeholder="Enter your Lastname" name="lastname" id="lastname" required class="form-control" width="40">
        <br />

        <label for="start_date"><b>ToDate</b></label>
        <input type="date" placeholder="Enter Date" name="start_date" id="start_date" required class="form-control">
        <br />
        <label for="date"><b>Room</b></label>
        <select name="listbox" id="listbox" class="form-control">
            @*@foreach (var item in Model)
                {

                    <option value="@item.RoomNo">
                        @item.RoomNo
                    </option>

                }*@
            <option value="101"> 101  </option>
            <option value="102"> 102  </option>
            <option value="201"> 201  </option>
            <option value="203"> 203  </option>
        </select>
        <br />
        <center><button type="button" class="btn btn-primary" id="btnsub" onclick="check()">Submit</button> </center>
    </div>
</form>


@*@for Modal Popup*@

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h1 class="modal-title" style="color:darkblue">Room Availability</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <ul style="color:green" id="roomlist"> </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
@*//Code Section here*@

@* End here*@


<script>

    function check() {

        var Guests = {
            "LastName": $('#lastname').val(),
            "RoomNo": $('#listbox option:selected').val(),
            "BookDate": $('#start_date').val()
        }

        $.ajax({
            url: '@Url.Action("AddtoListData")',
            data: JSON.stringify(Guests),
            type: 'POST',
            contentType: 'application/json',
            success: function (response) {
                var val = response.result;
                if (val == true) {
                    console.log(response.result);
                    alert('Room added');

                }
                else {
                    console.log(response.result);
                    alert('Room is not avilabale');
                    location.reload();

                }

            }
            ,
            error: function (response) {
                var val = response.result;
                if (val == false) {
                    console.log(response.result);
                    alert('Room is not avilabale');
                }

            }
        });


    }

    function findroom() {

        var _selectdate = $('#checkdate').val();
            $.ajax({
            url: '@Url.Action("GetRooms")',
            data: { selectdate: _selectdate },
            type: 'POST',
            dataType: "json",
            success: function (response) {
                var val = response.result;
                var roomlist=response.rooms
                if (val == true) {
                    console.log(response);
                    $("#roomlist").empty();
                    $.each(response.rooms, function (index, value) {
                       // console.log(index + ": " + value);
                        $('.modal-body ul').append('<b><li>' + value + '<b></li>');
                    });


                    showModal();
                }
                else {
                    console.log(response.result);
                    alert('Room is not avilabale');
                    location.reload();

                }

            }
            ,
            error: function (response) {
                var val = response.result;
                if (val == false) {
                    console.log(response.result);
                    alert('Room is not avilabale');
                }

            }
        });


     }

    function showModal() {
        $('#myModal').modal('show');
    }



    function checkmessage() {
        Swal.fire('Any fool can use a computer')
    }
</script>

